/*Importações*/
@import url("https://use.typekit.net/zya4itg.css");
@import url("https://use.typekit.net/zya4itg.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: "acumin-pro", sans-serif;
    background: linear-gradient(#01152665, #03354065), url("../img/background-form.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    scrollbar-width: thin;
    scrollbar-color: #7B8C86 #011526;
}bock::-webkit-scrollbar{
    border: 1px solid #7B8C86;
    border-radius: 20px;
}

.box{
    top: 5%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #011526d2;
    padding: 15px;
    border-radius: 15px;
    width: auto;
    color: #F2E8DC;
}

.cadastro{
    border: 8px solid #033540;
    border-radius: 15px;
    padding: 15px;
}

.cadastro-legenda{
    border: 1px solid #033540;
    padding: 10px;
    text-align: center;
    background-color: #033540;
    border-radius: 10px;
}
.inputBox{
    position: relative;   
}

.dados_pessoais{
    margin: 0px;
    padding: 10px;
    grid-gap: 12px;
}
.telefone{    
    margin: 0px;
    padding: 10px;
    grid-gap: 12px;   
}
.inputTel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    grid-gap: 12px;
}
.endereco{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 20px;
    grid-gap: 12px;
}
.inputUser_Num{
    background-color: #7B8C8675;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #7B8C86;
    outline: none;
    width: 100px;
    color: #F2E8DC;
    padding: 5px;
    font-size: 15px;
}
.inputUser_Comp{
    background-color: #7B8C8675;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #7B8C86;
    outline: none;
    width: 150px;
    color: #F2E8DC;
    padding: 5px;
    font-size: 15px;
}
.inputEndereco{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    grid-gap: 12px;
}
.inputUser{
    background-color: #7B8C8675;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #7B8C86;
    outline: none;
    width: 280px;
    color: #F2E8DC;
    padding: 5px;
    font-size: 15px;
}
.labelInput{
    position: absolute;
    top: 1px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput, .inputTel:focus ~ .labelInput, .inputUser_Num:focus ~ .labelInput, .inputUser_Comp:focus ~ .labelInput,
.inputUser:valid ~ .labelInput, .inputTel:valid ~ .labelInput, .inputUser_Num:valid ~ .labelInput, .inputUser_Comp:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #7B8C86;
}
.inputUserCEP{
    background-color: #7B8C8675;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #7B8C86;
    outline: none;
    width: 120px;
    color: #F2E8DC;
    padding: 5px;
    font-size: 15px;
}

fieldset{
    border: 3px solid #033540;
    border-radius: 15px;
    padding: 15px;
}
legend{
    border: none solid #033540;
    padding: 5px;
    background-color: #033540;
    border-radius: 10px;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.div_genero{
    align-items: center;
    justify-content: space-around;
    margin-right: 24px;
    grid-gap: 3px;
}
input[type='radio'] {
    accent-color: #7B8C86;
}
.div_nasc{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
    grid-gap: 3px;
}
#data_nascimento{
    background-color: #7B8C8675;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #7B8C86;
    outline: none;
    color: #F2E8DC;
    padding: 5px;
    font-size: 15px;    
    text-transform: uppercase;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(87%) sepia(17%) saturate(275%) hue-rotate(331deg) brightness(109%) contrast(90%);
}

.section-cargo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 12px;
    grid-gap: 3px;
}
.select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-inline: 24px;
    grid-gap: 3px;
}
.select_style{
    background-color: #03354095;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #7B8C86;
    outline: none;
    color: #F2E8DC;
    padding: 5px;
    font-size: 15px;    
    text-transform: uppercase;
    font-weight: bold;
}
.cargo_style{
    display: none;
    padding-inline: 12px;
    grid-gap: 3px;
}
.inputUser_cargo{
    background-color: #7B8C8675;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #7B8C86;
    outline: none;
    color: #F2E8DC;
    padding: 5px;
    font-size: 15px;    
    text-transform: uppercase;
}
.hidden {
    display: none;
    margin-top: 10px;
}
      
.show{
    display: block; /* Utilize !important caso ocorra conflito */
}